.main-space__info--name
  新規グループ作成
= form_for @group do |f|
  = f.text_field :name, placeholder: "グループ名を入力", class: "main-space__search--text"
  ※該当する名前にチェックを入れてください
  .group-check
    = f.collection_check_boxes :post_ids, Post.all, :id, :title
  = f.submit "作成", class: "main-space__search--btn"